.container {
  margin: 168px auto;
  text-align: center;
  font-size: 20px;
  position: relative;
}

.topic {
  text-align: left;
  font-weight: 500;
  font-size: 16px;
  margin: 0;
  position: absolute;
  top: -80px;
  border-radius: 10px;
  padding: 5px 30px;
  color: #ffffff;
  background-color: #171414;
}

.imgListA {
  display: grid;
  grid-template-columns: 50% 50%;
  row-gap: 3%;
}

.lgImgListA {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  row-gap: 3%;
}

.imgItemC {
  text-align: left;
  align-items: center;
}

.lgImgItemC {
  display: flex;
  text-align: left;
  align-items: center;
  margin-bottom: -140px;
}

.imgC {
  max-width: 160px;
  border-radius: 50%;
  margin: 0 auto -16px auto;
}

.lgImgC {
  max-width: 180px;
  border-radius: 50%;
  margin-right: 18px;
}

.imgListD {
  display: grid;
  grid-template-columns: 100%;
  gap: 20px;
}

.lgImgListD {
  display: grid;
  grid-template-columns: 50% 50%;
  row-gap: 30px;
}

.imgItemD {
  position: relative;
  align-items: end;
  font-size: 22px;
}

.textD {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  margin-top: 10px;
  padding: 14px;
  color: #000000;
  font-weight: 500;
  width: 90%;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
}

.left {
  max-width: 70%;
  text-align: left;
}

.right {
  margin-left: 30%;
  text-align: left;
  max-width: 70%;
}

.center {
  text-align: left;
}