.container {
  margin: 48px auto;
  width: 75%;
  text-align: center;
  font-size: 20px;
}

.topic {
  text-align: left;
  font-weight: 700;
  margin: 40px 0;
}

.imgList {
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 20px;
}

.imgList2 {
  display: grid;
  grid-template-columns: 100%;
  row-gap: 20px;
}

.lgImgList {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  row-gap: 20px;
}

.imgContainer {
  position: relative;
}

.imgContainer2 {
  position: relative;
  display: grid;
  grid-template-columns: 50% 40%;
  align-items: end;
  font-size: 22px;
}

.lgImgContainer {
  position: relative;
  object-fit: fill;
}

.img {
  width: 100%;
  border-radius: 10px;
}

.lgImg {
  width: 80%;
  border-radius: 10px;
}

.imgName {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 10px;
  background-color: #808080;
  padding: 14px;
  color: #FFFFFF;
  transform: translateY(-35%);
}

.imgName2 {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  padding: 14px;
  color: #000000;
  font-weight: 700;
}

.picBox1 {
  display: grid;
  gap: 70px;
  margin-bottom: 64px;
}

.lgPicBox1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  margin-bottom: 64px;
}

.iimg {
  width: 10vh;
  height: 10vh;
  display: block;
  position: absolute;
  right: -38px;
  bottom: -38px;
  border-radius: 50%;
  z-index: 100;
}