.tag {
    position: relative;
    bottom: 43px;
    left: 5px;
}

.img {
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    border-radius: 8px;
    box-Shadow: 4px 4px 8px rgb(0 0 0 / 25%);
}

.img2 {
    width: 92%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    border-radius: 8px;
    box-Shadow: 4px 4px 8px rgb(0 0 0 / 25%);
}

.eventImg2 {
    position: relative;
    top: -20px;
    left: 5px;
}
.eventImg1 {
    position: relative;
    top: -30px;
    left: 1.5%;
    width: 95% !important;
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lgGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
}

.meta {
    text-align: center;
}

.container {
    margin: 40px 0;
}