.tag {
	position: relative;
	bottom: 20px;
	left: 5px;
	/* text-align: center;
	font-weight: 400; */
}

.img {
	width: 100%;
	/* aspect-ratio: 16 / 9; */
	overflow: hidden;
	border-radius: 8px;
	//box-shadow: 4px 4px 8px rgb(0 0 0 / 15%);
}

.img2 {
	width: 100%;
	/* aspect-ratio: 16 / 9; */
	overflow: hidden;
	border-radius: 8px;
	//box-shadow: 4px 4px 8px rgb(0 0 0 / 15%);
}

.eventImg2 {
	position: relative;
	top: -20px;
	left: 5px;
	width: 95% !important;
}
.eventImg1 {
	position: relative;
	top: -30px;
	left: 5px;
	width: 95% !important;
}

.flexCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

.lgGrid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 40px;
	grid-column-gap: 80px;
}

.grid {
	display: grid;
	grid-template-columns: 1fr;
	gap: 40px;
	grid-column-gap: 20px;
}

.meta {
	text-align: center;
	min-height : 86px;
	//height : 60px;
}

.container {
	margin: 40px 0;
}
