
*{
    box-sizing: border-box;
}
.App {
    /* margin:0 auto 0 auto; */
    /* background-color: blanchedalmond; */
    /* padding:auto; */
    /* font-size: 24; */
    /* overflow: hidden; */
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cardWrapper{
    background-color: red;
    border: solid 4px black;
    height:100%; 
    min-width: 300px; /* width have to be absolute size */
}
.headerWrapper{
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content:space-between;

    
}
.header{
    flex:1; 
    text-align:center; 
    padding:"10px"
}
.header:hover{
    cursor: pointer;
}


.inner:hover{
    transform: rotateY(180deg);
}
.slide img{
    width: 100%;
    height:auto;
    border-radius: inherit;
}



.slide {
    /* background-color: white; */
    /* min-width: 50%; */
    /* padding: 10px; */
    height: 100px;
    /* border-radius: 10px; */
    /* border: solid 0.5px; */
    height: inherit;
    /* box-shadow: 3px 2px 2px 1px rgba(0, 0, 0, 0.4); */
    transition: all 1s;
    /* perspective: 1000px; */
    /* transform-style: preserve-3d; */
}
.slide:hover{
    /* transform: rotateY(180deg); */
}

.activeSlide {
    z-index: 1;
    transform: scale(1);
}
.oneSideCard{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    background-color: white;
    margin: auto;
    /* width:80%; */
    min-width: 50%;
    padding: 10px;
    height: 100%;
    border-radius: 10px;
    border: solid 0.5px;
    /* height: inherit; */
    box-shadow: 3px 2px 2px 1px rgba(0, 0, 0, 0.4);
}
.carouselWrapper{
    position:"relative";
    border: solid 50px red;
    /* background-color: aqua; */
    width: 100%; /* for position the arrow */
    height: 100vh; /* it determine the height of carousel card */ 
    margin: "0px auto";
} 
.oneSideCard img{
    /* flex: 4; */
    width: 100%;
    border-radius: inherit;
}
.disc{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: inherit;
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 0px
}
.dCardWrapper{
    perspective:1500px;
    width:100%;
    height: 100%;
    padding:0px;
    margin:auto;
    /* background-color: transparent; */
    
}
.dCardInnerWrapper{
    padding:auto;
    transition:all 3s;
    transform-style: preserve-3d;
    position: relative;
    width: 100%;
    height:100%;
}
.dCardInnerWrapperFlip{
    transform: rotateY(180deg);
}
.flipFrontCard, .flipBackCard{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;

}
.flipBackCard{
    transform: rotateY(180deg);
}


.arrowWrapper{
    display: inline-block;
    padding:2px;
    background-color: rgba(0, 0, 0, 0.3);
    transition: background-color 1s ;
}
.arrowWrapper:hover{
    display: inline-block;
    padding:2px;
    background-color: rgba(0, 0, 0, 0.8);
    color:white
}
.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
    transition: border 1s ;
}
.arrow:hover {
    /* border: solid white; */
    border-width: 0 3px 3px 0;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    z-index: 100;
    padding: 16px;
    margin-top: -40px;
    color:  rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-size: 40px;
    transition: all 0.6s ease;
    border-radius: 10%;
}
.prev{
    left: 0;
}
.next {
    right: 0;
}

.prev:active, .next:active {
    background-color: rgb(65, 65, 65, 0.7);
    color: white;
}
@media screen and (min-width:769px){
    .App{
        width: 70%;
        height: 100%;
    }
    .prev:hover, .next:hover {
    background-color: rgb(65, 65, 65, 0.7);
    color:  rgb(221, 221, 221);
}
}