.dCardWrapper {
	perspective: 1500px;
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: auto;
	/* background-color: transparent; */
}
.dCardInnerWrapper {
	padding: auto;
	transition: all 1s;
	transform-style: preserve-3d;
	position: relative;
	width: 100%;
	height: 100%;
}
.dCardInnerWrapperFlip {
	transform: rotateY(180deg);
}
.flipFrontCard,
.flipBackCard {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}
.flipBackCard {
	transform: rotateY(180deg);
}

@media screen and (min-width: 769px) {
	.dCardWrapper {
		max-width: 250px;
	}
}
