.oneSideCard{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    background-color: white;
    margin: auto;
    /* width:80%; */
    min-width: 50%;
    padding: 10px;
    height: 100%;
    border-radius: 10px;
    border: solid 0.5px;
    /* height: inherit; */
    box-shadow: 3px 2px 2px 1px rgba(0, 0, 0, 0.4);
}
.imageWrapper{
    /* border: solid 2px; */
    border-radius: inherit;
}
img{
    object-fit:fill;
    width: 100%;
    height: auto;
    border-radius: inherit;
}
.disc{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: inherit;
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 0px
}
@media screen and (min-width:769px){
    .oneSideCard{
        max-width: 400px;
    }
}