rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /Events/{eventId} {
  	  allow read : if true;
  	  allow update : if eventId in get(/databases/$(database)/documents/Members/$(request.auth.uid)).admin;
  	}
    match /{document=**} {
      allow read, write: if true;
    }
  }
}