*{
    box-sizing:border-box;
}

.backCardWrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    background-size:cover;
    border-radius: 10px;
}
.lgBackCardWrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    background-size:cover;
    border-radius: 10px;
}

.title{
    background-size: cover;
    background-repeat: no-repeat;
    height: 100px;
    width: 128px;
    margin: 0 auto;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
    position:absolute;
    top:-50px;

    /* position: relative; If you want text inside of it */
}
.lgTitle{

    background-size: cover;
    background-repeat: no-repeat;
    height: 100px;
    width: 128px;
    margin: 0 auto;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
    position:absolute;
    top: -50px;
}

.closeIconWrapper{
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
}

.textWrapper{
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.flipButton{
    position: absolute;
    bottom: 10px;
    right: 15px;
}