*{
    box-sizing:border-box;
}

.BackCardWrapper{
    background-color:  darkgray;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    align-items: center;

}


.title{
    /* border: solid black 2px; */
    background-color: white;
    border-radius: 50%;

    border:solid black 0.5px;
    /* width: 100%; */
    height: 100px;
    width: 100px;
    margin: 0 auto;
    display:flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    top:-50px;
    /* padding-top: 100%; 1:1 Aspect Ratio */
    /* position: relative; If you want text inside of it */
}
.imgWrapper{

}

.closeIconWrapper{
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
}

.textWrapper{
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}