*{
    box-sizing:border-box;
}
.cardWrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100px;
    width: 128px;
    
}
.lgCardWrapper{
    position:relative;
    height: 100px;
    width: 128px;
}
.innerCardWrapper{
    width: 100%;
    height:100%;
}
.lgCardWrapper:hover{
    cursor: pointer;
}
.circle{
    height: 90px;
    width: 112px;
    margin: auto;
    display:flex;
    justify-content: center;
    align-items: center;
    background-size: cover;

}
.lgCircle{
    
    height: 100%;
    width: 100%;
    margin: auto;
    display:flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    position:absolute;
}

.circleText{
    font-size: 24px;
}
