*{
    box-sizing:border-box;
}
.cardWrapper{
    
    /* border: solid black 2px; */
    display: inline-block;
    
}
.cardWrapper:hover{
    cursor: pointer;
}
.circle{
    /* border: solid black 2px; */
    /* background-color: lightgray; */
    /* border-radius: 50%; */
    /* width: 100%; */
    height: 200px;
    width: 200px;
    margin: auto;
    display:flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 100%; 1:1 Aspect Ratio */
    /* position: relative; If you want text inside of it */
}
.circleText{
    font-size: 24px;
}
