*{
    box-sizing:border-box;
}
.cardWrapper{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding:10vh 0 ;
    height: 100vh;
    background-color: red;

}
.lgCardWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    /* margin:0px auto; */
    animation: rotate 1s linear infinite;
    animation-play-state: paused;
    animation-duration: 1;
    animation-delay: calc(var(--scroll) * -1s);
    /* animation-delay: -1s; */
    /* animation-iteration-count: 2; */
    /* animation-fill-mode: both; */

}


@keyframes rotate {
from {
    transform: translateY(var(--fourBallOffset))
    /* transform: translateY(var(--fourBallOffset)) rotateZ(360deg); */
}
}

.lgContainer{
    height: 1000px;
    
    margin: 0px auto;
    background-color: red;
    display:flex;
    justify-content: space-around;
    align-items: center;

}
.lgBackground{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}