.container {
    position: relative;

}

.heart {
    position: absolute;
    right: 24px;
    bottom: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tabContainer {
    display: block;
    margin: 0 auto;
    width: 100vw;
}
.textCardContext {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    aspect-ratio: 410 / 276;
}
.lg .select{
    position: absolute;
    top :170px;
    right: 10vw;

}

.smArtworkName {
    font-size: 18px;
}