.totalWrapper {
	box-sizing: border-box;
	position: fixed;
	top: 0;
    left: 0;
    width: 100%; 
	z-index: 100000;
}

.scrollHeader {
	background: #FFFFFF;
}

.headerWrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 3%;
	height: 80px;
	transition: all 1s;
}

.menuWrapper {
	display: flex;
	margin-right: 24px;
	position: fixed;
	top: 0;
	height: 50%;
	position: relative;
	background-color: rgba(50, 50, 50, 0.2);
	border-radius: 2rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	transition: all 1s;
	white-space: nowrap;
}

.menu {
	border-radius: 100px;
	box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.21);
}

.scrollMenu {
	border-radius: 100px;
	box-shadow: 0;
}

.iconContainer {
	display: inline-block;
	cursor: pointer;
	background: #FFFFFF;
	box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.21);
	border-radius: 100px;
	width: 44px;
	height: 44px;
	text-align: center;
	display: flex;   
	justify-content: center; 
}

.menuIcon {
	margin: auto;
	display: block;
}

.subMenu {
	text-align: center;
}

.link {
	margin: 0 0.3rem;
	text-decoration: none;
	color: black;
}
