* {
    box-sizing: border-box;
}
.sideBarWrapper{
    
    padding:10%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);

}
.link{
    text-decoration: none;
    color:black;
    font-size: 24px;
}
.closeIcon:hover{
    cursor: pointer;
}
.headerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 248, 240);
    padding: 0 5%;
    overflow: hidden;
}

.logo {
    cursor: pointer;
    border: solid gray;
    border-radius: 50%;
}

.iconContainer {
    display: inline-block;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

.text {
    white-space: nowrap;
    color: red;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.headerWrapper:hover .overlay {
    width: 100%;
    left: 0;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}