.totalWrapper {
	box-sizing: border-box;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	z-index: 10;
}

.scrollHeader {
	background: #ffffff;
}

.headerWrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 2%;
	height: 80px;
	transition: all 1s;
	width: 100%;
}

.menuWrapper {
	display: flex;
	margin-right: 80px;
	position: fixed;
	top: 0;
	height: 100%;
	position: relative;
	/* background-color: rgba(50, 50, 50, 0.2); */
	/* border-radius: 2rem; */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	transition: all 1s;
	white-space: nowrap;
}
.chinesTabName {
	font-size: 14px;
	margin: 0px;
}
.engTabName {
	font-size: 12px;
	margin: 0px;
}
.menu {
	border-radius: 100px;
	box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.21);
	padding: 0.15rem 5%;
	background-color: white;
	/* z-index: -1; */
}

.scrollMenu {
	border-radius: 100px;
	box-shadow: 0;
	border: none;
}

.iconContainer {
	display: inline-block;
	cursor: pointer;
	background: #ffffff;
	box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.21);
	border-radius: 100px;
	width: 44px;
	height: 44px;
	text-align: center;
	display: flex;
	justify-content: center;
}

.menuIcon {
	margin: auto;
	display: block;
}

.subMenu {
	text-align: center;
	line-height: 16px;
	width: auto;
}

.link {
	/* background: linear-gradient(to right, rgba(37, 73, 157, 1) ,rgba(231, 50, 115, 1)); */
	/* background-color: red; */
	/* padding: 100px; */
}
.link:hover {
	/* font-size: 50px; */

	/* background-color: red; */
	/* text-decoration: none; */
	/* color: black; */
	/* background: linear-gradient(to right, rgba(37, 73, 157, 1) ,rgba(231, 50, 115, 1)); */
	/* -webkit-background-clip: text; */
	/* -webkit-text-fill-color: transparent; */
}
:global(.ant-menu-item.ant-menu-item-only-child) {
	/* make colorfule hover effect on header text */
	background-color: white !important;
	padding: 0px;
	margin: 0px;
	padding-inline: 0px;
	margin-inline: 0px;
	width: 100px;
}

:global(.ant-menu-item:hover) {
	/* make colorfule hover effect on header text */
	background: linear-gradient(
		to right,
		rgba(37, 73, 157, 1),
		rgba(231, 50, 115, 1)
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

:global(.ant-menu-submenu-title) {
	padding: 0px 20px 7px 20px;
}
:global(.ant-menu-submenu-title:hover) {
	/* make colorfule hover effect on header text */
	background: linear-gradient(
		to right,
		rgba(37, 73, 157, 1),
		rgba(231, 50, 115, 1)
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
:global(
		.ant-menu
			ant-menu-root
			ant-menu-horizontal
			ant-menu-light
			Header_menu__sUXLR
			css-dev-only-do-not-override-1km3mtt
	) {
	padding: 0px 25px;
}
.link div {
	height: 100%;
	text-align: center;
	line-height: 15px;
	letter-spacing: 1px;
}

.box {
	border-radius: 100px;
}

.boxS {
	box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.21);
}
