* {
    box-sizing: border-box;
}


.headerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 248, 240);
    padding: 0 2%;
    overflow: hidden;
    height: 80px;
}

.logo {
    cursor: pointer;
    border: solid gray;
    border-radius: 1em;
    padding:0.25em;
}

.menuWrapper{
    display:none
}









.iconContainer {
    display: inline-block;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

.hidden{
    display: none;
}


@media screen and (min-width:769px){
    .headerWrapper{
        position: fixed;
        width:100%
        /* top: 0; */
    }
    .menuWrapper{
        position: fixed;
        top: 0;
        min-height: 50%;
        position: relative;
        background-color: rgba(50, 50, 50, 0.2);
        border-radius: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        transition: all 1s;
    }
    .menuWrapperTransparent{
        transition: all 1s;
        background-color: rgba(50, 50, 50, 0);
    }
    .searchIconWrapperActive{
        background-color: rgba(110, 110, 110, 1);
        position: absolute;
        right:0;
        border-radius: inherit;
        height: 100%;
        width: 50%;
        display: flex;
        justify-content: space-between;
        padding: 0 4px;
        align-items: center;
        transition: all 1s;
    }
    .searchIconWrapper{
        width:auto;
        transition: all 1s;
        overflow: hidden;

    }
    .searchIconWrapper div{
        display:none;
    }
    .exitButton{
        font-size:1rem;
        width:32px;
        color:white;
        text-align:center;
    }
    .exitButton:hover{
        cursor: pointer;
    }
    .link{
        margin: 0 0.3rem;
        text-decoration: none;
        color:black
    }
    .iconContainer{
        display: none;
    }
    .hidden{
        display: block;
    }

}