* {
    box-sizing: border-box;
}

.searchBarWrapperActive {
    background-color: rgba(110, 110, 110, 1);
    position: absolute;
    right: -10px;
    border-radius: inherit;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-between;
    padding: 0 4px;
    align-items: center;
    transition: all 0.3s;
}

.searchBarWrapper {
    position: absolute;
    right: 2px;
    background-color: rgba(110, 110, 110, 0);
    height: 100% !important;
    min-height: 100%;
    width: 32px;
    border-radius: inherit;
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: all 0.3s;
}

.inputWrapperHidden {
    display: none
}

.searchIconWrapper {
    position: relative;
    right: 0px;
}

.exitButton {
    position: relative;
    font-size: 1rem;
    width: 32px;
    color: white;
    text-align: center;
}

.exitButtonHidden {
    display: none
}

.exitButton:hover {
    cursor: pointer;
}

.link {
    margin: 0 0.3rem;
    text-decoration: none;
    color: black
}

.iconContainer {
    display: none;
}

.hidden {
    display: block;
}