* {
    box-sizing: border-box;
}

.link{
    text-decoration: none;
    color: black;
    font-size: 24px;
    padding: 0;
    margin: 0px;
    text-align: center;
}


.drawerBodyWrapper{
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: rgba(0, 0, 0, 0.5); */
    z-index: 10000;
}


.drawerWrapper{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;

    z-index: 10000;
}

.header{
    width:100%;
    /* height: 30%; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;

}
.header button{
    height: 32px;
    background-color: white ;
    border: solid 2px;
    border-radius: 5px;
}

.defaultInput{
    width:0px;
    transition: all 1s;
    opacity: 0;
}
.input{
    width:70%;
    transition: all 1s;
    opacity: 1

}


.collapseItemWrapper{
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
    align-items: center;
    justify-content: flex-start;
}
.collapseItemWrapper .link{
    font-size: 18px;
    color: rgba(100, 100 ,100 , 1);
}
.headerWrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
}



.closeIcon{
    height: 30%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    /* background-color: aqua; */
}
.closeIcon:hover{
    cursor: pointer;
}

