.container::-webkit-scrollbar,
.lgContainer::-webkit-scrollbar {
	display: none;
}

.container {
	margin-top: 16px;
	border: 1px solid #e4e4e4;
	height: 30vh;
	overflow: scroll;
	width: 105%;
	font-family: 'Noto Sans TC';
}

.lgContainer {
	margin: 0 0 0 40px;
	border: 1px solid #e4e4e4;
	width: 100%;
	overflow: scroll;
}

.category {
	font-weight: 700;
}

.firstCategory {
	margin-top: 0;
}

.eventContainer {
	display: grid;
	grid-template-columns: 100%;
}


.event {
	min-height: 70px;
	width: 95%;
	padding: 14px;
	cursor: pointer;
	border-radius: 1.25em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	background-color: white;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
	margin-bottom: 12px;
}

.eventName {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 12px;
	margin: 0;
}

.eventInfo {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 10px;
	margin: 0;
}



.blue {
	color: #25499D;
}

.blue:active, .blue:hover {
	color: white;
	background-color: #25499D;
}

.green {
	color: #9AC342;
}

.green:active, .green:hover {
	color: white;
	background-color: #9AC342;
}

.pink {
	color: #D7497C;
}

.pink:active, .pink:hover {
	color: white;
	background-color: #D7497C;
}