.container {
    margin-top: 16px;
    border: 1px solid #E4E4E4;
}

.ant-card-body {
    padding-top: 0 !important;
}

.ant-card-body .ant-card-body{
    height: 50px;
    padding: 7.5px 14px !important;
    margin: auto 0 !important;
    cursor: pointer;
}

.category {
    font-weight: 700;
}

.dataContainer {
    display: grid;
    grid-template-columns: 100%;
    gap: 10px;
}

.eventName {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    margin: 0;
    width: 100%;
}

.eventInfo {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 10px;
    margin: 0;
}