.container {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.lgContainer {
  width: 80%;
  display: flex;
}

:global .SingleDatePickerInput {
  display: inline-block;
  background-color: #fff;
}
:global .SingleDatePickerInput__withBorder {
  border-radius: 2px;
  border: 1px solid #dbdbdb;
}
:global .SingleDatePickerInput__rtl {
  direction: rtl;
}
:global .SingleDatePickerInput__disabled {
  background-color: #f2f2f2;
}
:global .SingleDatePickerInput__block {
  display: block;
}
:global .SingleDatePickerInput__showClearDate {
  padding-right: 30px;
}
:global .SingleDatePickerInput_clearDate {
  background: 0 0;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  cursor: pointer;
  padding: 10px;
  margin: 0 10px 0 5px;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
:global .SingleDatePickerInput_clearDate__default:focus, :global .SingleDatePickerInput_clearDate__default:hover {
  background: #dbdbdb;
  border-radius: 50%;
}
:global .SingleDatePickerInput_clearDate__small {
  padding: 6px;
}
:global .SingleDatePickerInput_clearDate__hide {
  visibility: hidden;
}
:global .SingleDatePickerInput_clearDate_svg {
  fill: #82888a;
  height: 12px;
  width: 15px;
  vertical-align: middle;
}
:global .SingleDatePickerInput_clearDate_svg__small {
  height: 9px;
}
:global .SingleDatePickerInput_calendarIcon {
  background: 0 0;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
  margin: 0 5px 0 10px;
}
:global .SingleDatePickerInput_calendarIcon_svg {
  fill: #82888a;
  height: 15px;
  width: 14px;
  vertical-align: middle;
}
:global .SingleDatePicker {
  position: relative;
  display: inline-block;
}
:global .SingleDatePicker__block {
  display: block;
}
:global .SingleDatePicker_picker {
  z-index: 1;
  background-color: #fff;
  position: absolute;
}
:global .SingleDatePicker_picker__rtl {
  direction: rtl;
}
:global .SingleDatePicker_picker__directionLeft {
  left: 0;
}
:global .SingleDatePicker_picker__directionRight {
  right: 0;
}
:global .SingleDatePicker_picker__portal {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
:global .SingleDatePicker_picker__fullScreenPortal {
  background-color: #fff;
}
:global .SingleDatePicker_closeButton {
  background: 0 0;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px;
  z-index: 2;
}
:global .SingleDatePicker_closeButton:focus, :global .SingleDatePicker_closeButton:hover {
  color: #b0b3b4;
  text-decoration: none;
}
:global .SingleDatePicker_closeButton_svg {
  height: 15px;
  width: 15px;
  fill: #cacccd;
}
:global .CalendarDay {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
}
:global .CalendarDay:active {
  outline: 0;
}
:global .CalendarDay__defaultCursor {
  cursor: default;
}
:global .CalendarDay__default {
  border: 1px solid #e4e7e7;
  color: #484848;
  background: #fff;
}
:global .CalendarDay__default:hover {
  background: #e4e7e7;
  border: 1px solid #e4e7e7;
  color: inherit;
}
:global .CalendarDay__hovered_offset {
  background: #f4f5f5;
  border: 1px double #e4e7e7;
  color: inherit;
}
:global .CalendarDay__outside {
  border: 0;
  background: #fff;
  color: #484848;
}
:global .CalendarDay__outside:hover {
  border: 0;
}
:global .CalendarDay__blocked_minimum_nights {
  background: #fff;
  border: 1px solid #eceeee;
  color: #cacccd;
}
:global .CalendarDay__blocked_minimum_nights:active, :global .CalendarDay__blocked_minimum_nights:hover {
  background: #fff;
  color: #cacccd;
}
:global .CalendarDay__highlighted_calendar {
  color: #484848;
  position: relative;
}
:global .CalendarDay__highlighted_calendar::before {
  content: "";
  position: absolute;
  transform: translateX(-50%);
  border-radius: 100%;
  background: #d5d8dc;
  height: 6px;
  width: 6px;
  top: 28px;
  left: 50%;
}
:global .CalendarDay__highlighted_calendar:active, :global .CalendarDay__highlighted_calendar:hover {
  background: #cacccd;
  color: #484848;
}
:global .CalendarDay__selected_span {
  background: #66e2da;
  border: 1px double #33dacd;
  color: #fff;
}
:global .CalendarDay__selected_span:active, :global .CalendarDay__selected_span:hover {
  background: #33dacd;
  border: 1px double #33dacd;
  color: #fff;
}
:global .CalendarDay__selected, :global .CalendarDay__selected:active, :global .CalendarDay__selected:hover {
  background: #fe3d2f;
  border: 1px none #fe3d2f;
  color: #fff;
}
:global .CalendarDay__hovered_span, :global .CalendarDay__hovered_span:hover {
  background: #b2f1ec;
  border: 1px double #80e8e0;
  color: #007a87;
}
:global .CalendarDay__hovered_span:active {
  background: #80e8e0;
  border: 1px double #80e8e0;
  color: #007a87;
}
:global .CalendarDay__blocked_calendar, :global .CalendarDay__blocked_calendar:active, :global .CalendarDay__blocked_calendar:hover {
  background: #cacccd;
  border: 1px solid #cacccd;
  color: #82888a;
}
:global .CalendarDay__blocked_out_of_range, :global .CalendarDay__blocked_out_of_range:active, :global .CalendarDay__blocked_out_of_range:hover {
  background: #fff;
  border: 1px solid #e4e7e7;
  color: #cacccd;
}
:global .CalendarDay__hovered_start_first_possible_end {
  background: #eceeee;
  border: 1px double #eceeee;
}
:global .CalendarDay__hovered_start_blocked_min_nights {
  background: #eceeee;
  border: 1px double #e4e7e7;
}
:global .CalendarMonth {
  background: #fff;
  text-align: center;
  vertical-align: top;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
:global .CalendarMonth_table {
  border-collapse: collapse;
  border-spacing: 0;
}
:global .CalendarMonth_verticalSpacing {
  border-collapse: separate;
}
:global .CalendarMonth_caption {
  color: #484848;
  font-size: 18px;
  text-align: center;
  padding-top: 22px;
  padding-bottom: 37px;
  caption-side: initial;
}
:global .CalendarMonth_caption__verticalScrollable {
  padding-top: 12px;
  padding-bottom: 7px;
}
:global .CalendarMonthGrid {
  background: #fff;
  text-align: left;
  z-index: 0;
}
:global .CalendarMonthGrid__animating {
  z-index: 1;
}
:global .CalendarMonthGrid__horizontal {
  position: absolute;
  left: 9px;
}
:global .CalendarMonthGrid__vertical, :global .CalendarMonthGrid__vertical_scrollable {
  margin: 0 auto;
}
:global .CalendarMonthGrid_month__horizontal {
  display: inline-block;
  vertical-align: top;
  min-height: 100%;
}
:global .CalendarMonthGrid_month__hideForAnimation {
  position: absolute;
  z-index: -1;
  opacity: 0;
  pointer-events: none;
}
:global .CalendarMonthGrid_month__hidden {
  visibility: hidden;
}
:global .DayPickerNavigation {
  position: relative;
  z-index: 2;
}
:global .DayPickerNavigation__horizontal {
  height: 0;
}
:global .DayPickerNavigation__verticalScrollable_prevNav {
  z-index: 1;
}
:global .DayPickerNavigation__verticalDefault {
  position: absolute;
  width: 100%;
  height: 52px;
  bottom: 0;
  left: 0;
}
:global .DayPickerNavigation__verticalScrollableDefault {
  position: relative;
}
:global .DayPickerNavigation__bottom {
  height: auto;
}
:global .DayPickerNavigation__bottomDefault {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
:global .DayPickerNavigation_button {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 0;
  padding: 0;
  margin: 0;
}
:global .DayPickerNavigation_button__default {
  border: 1px solid #e4e7e7;
  background-color: #fff;
  color: #757575;
}
:global .DayPickerNavigation_button__default:focus, :global .DayPickerNavigation_button__default:hover {
  border: 1px solid #c4c4c4;
}
:global .DayPickerNavigation_button__default:active {
  background: #f2f2f2;
}
:global .DayPickerNavigation_button__disabled {
  cursor: default;
  border: 1px solid #f2f2f2;
}
:global .DayPickerNavigation_button__disabled:focus, :global .DayPickerNavigation_button__disabled:hover {
  border: 1px solid #f2f2f2;
}
:global .DayPickerNavigation_button__disabled:active {
  background: 0 0;
}
:global .DayPickerNavigation_button__horizontalDefault {
  position: absolute;
  top: 18px;
  line-height: 0.78;
  border-radius: 3px;
  padding: 6px 9px;
}
:global .DayPickerNavigation_bottomButton__horizontalDefault {
  position: static;
  margin: -10px 22px 30px;
}
:global .DayPickerNavigation_leftButton__horizontalDefault {
  left: 22px;
}
:global .DayPickerNavigation_rightButton__horizontalDefault {
  right: 22px;
}
:global .DayPickerNavigation_button__verticalDefault {
  padding: 5px;
  background: #fff;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
  position: relative;
  display: inline-block;
  text-align: center;
  height: 100%;
  width: 50%;
}
:global .DayPickerNavigation_nextButton__verticalDefault {
  border-left: 0;
}
:global .DayPickerNavigation_nextButton__verticalScrollableDefault, :global .DayPickerNavigation_prevButton__verticalScrollableDefault {
  width: 100%;
}
:global .DayPickerNavigation_svg__horizontal {
  height: 19px;
  width: 19px;
  fill: #82888a;
  display: block;
}
:global .DayPickerNavigation_svg__vertical {
  height: 42px;
  width: 42px;
  fill: #484848;
}
:global .DayPickerNavigation_svg__disabled {
  fill: #f2f2f2;
}
:global .DayPicker {
  background: #fff;
  position: relative;
  text-align: left;
}
:global .DayPicker__horizontal {
  background: #fff;
}
:global .DayPicker__verticalScrollable {
  height: 100%;
}
:global .DayPicker__hidden {
  visibility: hidden;
}
:global .DayPicker__withBorder {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(0, 0, 0, 0.07);
  border-radius: 3px;
}
:global .DayPicker_portal__horizontal {
  box-shadow: none;
  position: absolute;
  left: 50%;
  top: 50%;
}
:global .DayPicker_portal__vertical {
  position: initial;
}
:global .DayPicker_focusRegion {
  outline: 0;
}
:global .DayPicker_calendarInfo__horizontal, :global .DayPicker_wrapper__horizontal {
  display: inline-block;
  vertical-align: top;
}
:global .DayPicker_weekHeaders {
  position: relative;
}
:global .DayPicker_weekHeaders__horizontal {
  margin-left: 9px;
}
:global .DayPicker_weekHeader {
  color: #757575;
  position: absolute;
  top: 62px;
  z-index: 2;
  text-align: left;
}
:global .DayPicker_weekHeader__vertical {
  left: 50%;
}
:global .DayPicker_weekHeader__verticalScrollable {
  top: 0;
  display: table-row;
  border-bottom: 1px solid #dbdbdb;
  background: #fff;
  margin-left: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
:global .DayPicker_weekHeader_ul {
  list-style: none;
  margin: 1px 0;
  padding-left: 0;
  padding-right: 0;
  font-size: 14px;
}
:global .DayPicker_weekHeader_li {
  display: inline-block;
  text-align: center;
}
:global .DayPicker_transitionContainer {
  position: relative;
  overflow: hidden;
  border-radius: 3px;
}
:global .DayPicker_transitionContainer__horizontal {
  -webkit-transition: height 0.2s ease-in-out;
  -moz-transition: height 0.2s ease-in-out;
  transition: height 0.2s ease-in-out;
}
:global .DayPicker_transitionContainer__vertical {
  width: 100%;
}
:global .DayPicker_transitionContainer__verticalScrollable {
  padding-top: 20px;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow-y: scroll;
}
:global .DateInput {
  margin: 0;
  padding: 0;
  background: #fff;
  position: relative;
  display: inline-block;
  width: 130px;
  vertical-align: middle;
}
:global .DateInput__small {
  width: 97px;
}
:global .DateInput__block {
  width: 100%;
}
:global .DateInput__disabled {
  background: #f2f2f2;
  color: #dbdbdb;
}
:global .DateInput_input {
  font-weight: 200;
  font-size: 19px;
  line-height: 24px;
  color: #484848;
  background-color: #fff;
  width: 100%;
  padding: 11px 11px 9px;
  border: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 2px solid transparent;
  border-left: 0;
  border-radius: 0;
}
:global .DateInput_input__small {
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.2px;
  padding: 7px 7px 5px;
}
:global .DateInput_input__regular {
  font-weight: auto;
}
:global .DateInput_input__readOnly {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
:global .DateInput_input__focused {
  outline: 0;
  background: #fff;
  border: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 2px solid #008489;
  border-left: 0;
}
:global .DateInput_input__disabled {
  background: #f2f2f2;
  font-style: italic;
}
:global .DateInput_screenReaderMessage {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
:global .DateInput_fang {
  position: absolute;
  width: 20px;
  height: 10px;
  left: 22px;
  z-index: 2;
}
:global .DateInput_fangShape {
  fill: #fff;
}
:global .DateInput_fangStroke {
  stroke: #dbdbdb;
  fill: transparent;
}

