*{
    box-sizing: border-box;
}
.iconsWrapper{
    display: flex;
    width: 100%;
    padding: 10%;
    /* justify-content: space-evenly; */
    /* align-items: center; */
    flex-wrap: wrap;

}
.iconWrapper{
    width: 33%;
    padding:10px;
    text-align: center;
}
.lgIconWrapper{
    width: 25%;
    padding:10px;
    text-align: center;
}
.sponsorWrapper {
    margin-top: 50px;
    display: block;
    margin: 0 auto;
    width: 80vw;
}

.title {
    display: block;
    margin: 0 auto;
    text-align: center;
} 

.lgTitle {
    
}