* {
    box-sizing: border-box;
}

.murmurWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* height: 100vh; */
    width: 100%;
}

.logoWrapper {
    width: 100px;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: -30px;
    right: 50%;
    transform: translate(40%, 0);

}

.shortMurmur {
    /* border: solid black 2px; */
    margin-top: 5em;
    /* border-radius: 3px; */
    width: 80%;
    text-align: center;
    margin-bottom: 5em;
    position: relative;
    top: -100px
}

.longMurmur {
    /* border: solid black 2px; */
    /* border-radius: 3px; */
    position: relative;
    width: 80%;
    text-align: left;
    margin-bottom: 5em;
    border-radius: 30px;
    padding: 50px 20px;
    background-color: #F4F4F4;
}