.container {
  width: 80%;
  margin: 48px auto;
}

.picBox1 {
  display: grid;
  gap: 70px;
  margin-bottom: 64px;
}

.lgPicBox1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  margin-bottom: 64px;
}

.picBox2 {
  width: 65%; 
  margin: 0 auto;
  minWidth: 400;
}

.topic {
  background-color: #FFFFFF;
  font-size: 16px;
  margin-top: 0px;
}

.img {
  width: 10vh;
  height: 10vh;
  display: block;
  position: absolute;
  right: -38px;
  bottom: -38px;
  border-radius: 50%;
  z-index: 100;
}

.card {
  borderColor: 'black';
  margin-bottom: 32px
}

.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 100%;
}
