.container {
  width: 80%;
  margin: 32px auto;
}

.picBox {
  display: grid;
  gap: 70px;
}

.lgPicBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
}

.topic {
  background-color: #FFFFFF;
  font-size: 16px;
  margin-top: 0px;
}

.lgImg {
  width: 120px;
  display: block;
  position: absolute;
  right: -60px;
  bottom: -55px;
  border-radius: 50%;
  z-index: 100;
}

.img {
  width: 100px;
  display: block;
  position: absolute;
  right: -50px;
  bottom: -45px;
  border-radius: 50%;
  z-index: 100;
}

.card {
  borderColor: 'black';
  margin-bottom: 32px
}

.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 100%;
}
