:root {
  --top: -24px;
}

.container {
  margin: 32px auto;
  position: relative;
}

.content {
  margin: 0px;
  width: 100%;
  border-radius: 10px;
  padding: 20px;
  font-size: 14px;
}

.topic {
  font-size: 14px;
  background-color: transparent;
}

.topic.one {
  margin: 0;
  position: absolute;
  top: -10px;
  left: 38px;
  font-weight: 700;
}

.topic.two {
  font-size: 16px;
  position: static;
  margin-top: 0px;
}

.topic.three {
  font-size: 14px;
  margin: 0;
  position: absolute;
  top: -32px;
  background-color: #171414;
  border-radius: 10px;
  padding: 4px 30px;
  color: #FFFFFF;
  font-weight: 300;
}