:root {
  --top: -24px;
}

.container {
  width: 80%;
  margin: 32px auto;
  margin-top: calc((-1) * var(--top) + 32px);
  position: relative;
}

.content {
  margin: 0px;
  width: 100%;
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 18px;
  font-size: 14px;
}

.topic {
  font-size: 32px;
  background-color: transparent;
}

.topic.one {
  margin: 0;
  position: absolute;
  top: var(--top);
  left: 16px;
}

.topic.two {
  font-size: 16px;
  position: static;
  margin-top: 0px;
}

.topic.three {
  font-size: 14px;
  margin: 0;
  position: absolute;
  top: var(--top);
  left: -8px;
  background-color: #808080;
  border-radius: 10px;
  padding: 8px 40px;
  color: #FFFFFF;
  font-weight: 300;
}