.container {
	position: relative; /*父元素加上relative*/
	/* background-color: red; */
	padding: 20px;
	display: flex;
	justify-content: space-between;
}

.right {
	width: 50%;
}

.left {
	width: 50%;
}
.img {
	width: 100%;
	/* aspect-ratio: 16 / 9; */
	overflow: hidden;
	/* border-radius: 8px; */
}
.Layout_layout__m8Vdf {
	box-sizing: content-box !important;
	width: 10%;
	border-color: transparent;
	/* background-color: red; */
}

.flexCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

:where(.css-dev-only-do-not-override-ixblex).ant-btn-default:not(
		:disabled
	):hover {
	color: #4096ff;
	border-color: #4096ff;
}

.App {
	max-width: 80%;
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* overflow: hidden; */
	margin: auto;
	justify-content: space-between;
}

.text {
	padding: 10;
	display: inline-block;
	/* margin-bottom : 10px; */
}
